[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "theme/hugo-profile"]
	path = theme/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
